.container {
  max-width: 895px !important;
  
}
.container-sm {
  max-width: 400px ;
  width: 400px ;
}
body {
  background-image: url(./assets/dark.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
  height: 100%;
}
